body{
	margin: 0 0 0 0;
}

a{
	text-decoration: none;
}

h1 {
	font-size: 16pt;
	background: #ccbbff;
	padding: 8pt;
	padding-left: 24pt;
	margin: 0 0 0 0;
}

img {
	width: 600px;
}

ul {
	padding-left: 24pt;
	color: #8877aa;
	font-size: 14pt;
}

ol {
	padding-left: 24pt;
	color: #8877aa;
	font-size: 12pt;
}

pre {
	color: #000000;
	margin: 0 0 0 0;
	padding-top: 2pt;
	padding-bottom: 8pt;
	font-size: 12pt;
}

form{
	padding: 24pt;
	margin-top: 32pt;
}

input[type="text"]{
	width: 300pt;
}

input[type="submit"]{
	width: 50pt;
	margin-left:4pt;
}
